
a {

    text-decoration: none;
    color: #000000;
}

a:hover {

    color: red;
}

.block {

    float: left ;
    width: 33.3%;
   
}

.box1 {
    
    color: #000000;
    margin: auto;
    width: 390px; 
    border: 5px red solid;
}

.box2 {

    color: #ff0000;
    border: 5px dashed blue;
    background-color: rgb(151, 147, 148);
    margin-top: 10px;  
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 20px;


}

.box2 li {
    font-family:Tahoma;
    list-style-image: url(../Opdracht\ 5\ CSS\ Box\ model/checkmark.png);
   
}


.box2 h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 3em;
}



.box3 {

    color: #000000;
    background-color: pink;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;

}
.box4 {
    margin: auto;
    width: 500px;
}